/*首页文章阴影样式*/
body{
  z-index:9;
}
.post {
  margin-bottom: 100px;
  padding: 25px;
  -webkit-box-shadow: 0 0 14px rgba(202,203,203,1);
  -moz-box-shadow: 0 0 14px rgba(202,203,204,1);
  background: #fff;
}
.posts-expand .post-eof {
  display: block;
  margin: 0px auto 60px;
  width: 8%;
  height: 1px;
  background: #ccc;
  text-align: center;
}

/*首页点击出现下划线*/
.posts-expand .post-title-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.posts-expand .post-title-link{
  margin-bottom:20px;
  display: inline-block;
  position: relative;
  color: #555;
  border-bottom: none;
  line-height: 2.2;
  vertical-align: top;
}
/*侧边栏博客链接前面小圆圈颜色*/
.links-of-author a:before{
  color:#fff;
}

/*.bg_content{
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
#canvas{
  width: 100%;
  height:100%;
}*/
#canvas{
  width: 100%;
  height:100%;
}
.bg_content{
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin:0;
  overflow:hidden;
  cursor:none;
  background: #fff;
}
/*.filter {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background:#fe5757;
  animation:colorChange 30s ease-in-out infinite;
  animation-fill-mode:both;
  mix-blend-mode:overlay;
  z-index: -1;
}*/
@keyframes colorChange {
  0%,100% {
    opacity:0;
  }
  50% {
    opacity:.9;
  }
}

/*将头部背景变为透明*/
.header{
  background: transparent ;
}
@media (max-width: 767px){
  .menu {
    text-align: right;
  }
}
/*头像改为圆形，hover转动*/
.site-author-image {
  display: block;
  margin: 15px auto;
  /*padding: $site-author-image-padding;*/
  /*
  border: $site-author-image-border-width solid $site-author-image-border-color;
  */
  border-radius:50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.site-author-image:hover{
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
  -moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  webkit-transform: rotate(360deg) scale(1.1);
  moz-transform: rotate(360deg) scale(1.1);
  ms-transform: rotate(360deg) scale(1.1);
  transform: rotate(360deg) scale(1.1);

}
@media (max-width: 767px) {

  .site-nav-toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
  /*相册页面样式*/
#photo{
  overflow: auto;
}
#photo .fancybox img{
  display:inline-block;
  float:left;
  margin: 20px;
  -webkit-box-shadow: 0 0 14px #cacbcb;
  width: 300px;
  border: 5px solid #fff;
}
#photo p{
    overflow:auto;
  }

  /*更新背景*/
.brand{
  background : transparent;
}
.menu .menu-item a{
    color: #fff;
}
.menu .menu-item a:hover{
    color :#fe5757;
    opacity:0.8
  }
.site-subtitle{
  color: #fff;
}
.a:hover{
  color :#fe5757;
}
.pagination .page-number.current{
  background :transparent;
}
.pagination .prev, .pagination .next, .pagination .page-number{
  border-top:none;
}
.pagination{
  border-top:none;
}
.pagination .prev:hover, .pagination .next:hover, .pagination .page-number:hover{
  background :#fff;
  color :#000
}
.footer{
  color :#fff
}
.menu .menu-item a:hover{
  border-bottom-color:#fe5757;
  opacity :0.8
}
.sidebar{
  background :rgba(255,255,255,0.96);
  box-shadow :none
}
.site-description,.site-state-item-count,.site-state-item-name,.sidebar-nav li:hover,.post-toc ol a,.tag-cloud-title{
  color:#555
}
.powered-by a,.theme-info a,.pagination a,.page-archive .archive-page-counter,.posts-collapse .collection-title h2,.category-list-item a,.category-all-title{
  color:#fff
}
#photo #posts .fancybox img{
    background: #fff;
    display: inline-block;
    float: left;
    margin: 20px;
    padding: 5px;
    -webkit-box-shadow:none;
    width: 300px;
    border-radius: 5px;
}

  /*手机尺寸下代码高亮部分修改*/
@media (max-width: 767px){
  .post-body .highlight {
    width: 100%;
    padding: 0;
  }
}

.headband{
  height: 0;
}
.btn:hover, .post-button .btn:hover{
  border-color: #e5a2b4;
  background: #e5a2b4;
  color: white;
}
.btn:hover, .post-button .btn{
  border-color: #e5a2b4;
  background: #fff;
  color: #e5a2b4;
}
.post-button .btn{
  color: #e5a2b4;
  font-size: 14px;
  background: #fff;
  border-radius: 0;
  line-height: 2;
  margin: 7px 4px -1px 4px;
}
.category-all-page .category-list-count{
  color: #fff;
}
.page-archive .posts-collapse .archive-move-on,.posts-collapse .collection-title::before{
  background: #fff;
}
@media (min-width: 1600px) {
  #photo .fancybox img{
    width: 400px;
    background: #fff;
    display: inline-block;
    float: left;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
  }
}
@media (max-width: 767px){
  .post-body .highlight {
    width: 124%;
    padding: 0;
  }
}
.post-copyright{
  margin: 2em 0 0;
  padding: 1em 2em;
  border-left: 3px solid #ff1700;
  background-color: #f9f9f9;
  list-style: none;
}


/*白色背景时*/
.brand{
  color: #000;
}
.site-subtitle{
  color: #999;
}
.menu .menu-item a{
  color: #555;
}
.sidebar{
  background: #222;
}
.pagination .page-number.current{
  color: #555;
}
.powered-by a, .theme-info a, .pagination a, .page-archive .archive-page-counter, .posts-collapse .collection-title h2, .category-list-item a, .category-all-title{
  color: #555;
}
.pagination .prev:hover, .pagination .next:hover, .pagination .page-number:hover{
  color: #fff;
  background: #555;
}
.footer{
  color: #999;
}
.comments{
  -webkit-box-shadow: 0 0 14px rgba(202,203,203,1);
  -moz-box-shadow: 0 0 14px rgba(202,203,204,1);
  background: #fff;
  padding: 25px;
  margin-bottom: 100px;
}
.brand:hover, .btn{
  color: #222;
}